/* adding background color to all webpages  */

/* ---------All SHEET styles ---------- */
* {
  background-color: #48a6a7;
}

/* -----------Style to recipe pages ----------- */
.recipe {
  color: #f2efe7;
  font-family: "Times New Roman", Times, serif;
}

.top_center {
  text-align: center;
}
